# Dependencies
node_modules/

# Build
dist/

# Environment
.env
.env.local
.env.*.local

# Database
prisma/*.db
prisma/*.db-journal

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
logs/

# IDE
.idea/
.vscode/
*.swp
*.swo
